# 1. Regression

## Compare the performance of 8 Regressers across 8 Regression datasets.

### Import Required Libraries

In [1]:
import pandas as pd
from keras.models import Sequential
from keras.layers import Dense, Activation, Flatten
import numpy as np

from sklearn import datasets, linear_model, metrics
from sklearn.model_selection import train_test_split 
from sklearn.svm import SVR
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor, AdaBoostRegressor
from sklearn.neighbors import KNeighborsRegressor
import sklearn.gaussian_process as gp
from sklearn.metrics import accuracy_score, mean_squared_error, r2_score

from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

2021-12-03 21:47:09.645633: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2021-12-03 21:47:09.645659: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.

## Dataset 1: Wine Quality

### Data analysis and visualization

In [2]:
#importing data
wine_df=pd.read_csv('datasets/winequality-red.csv', sep=';', dtype=float)
wine_df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5.0
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5.0
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5.0
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6.0
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5.0
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6.0
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6.0
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5.0
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6.0

In [3]:
wine_df['volatile acidity']

0       0.700
1       0.880
2       0.760
3       0.280
4       0.700
        ...
1594    0.600
1595    0.550
1596    0.510
1597    0.645
1598    0.310
Name: volatile acidity, Length: 1599, dtype: float64

### Data Splitting into Training and Testing

In [4]:
X=wine_df.drop('quality', axis=1)
X

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4
...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0

In [5]:
Y=wine_df['quality']
Y

0       5.0
1       5.0
2       5.0
3       6.0
4       5.0
       ...
1594    5.0
1595    6.0
1596    6.0
1597    5.0
1598    6.0
Name: quality, Length: 1599, dtype: float64

In [6]:
Y.iloc[1]+Y.iloc[1]

10.0

In [7]:
# Let's say we want to split the data in 80:10:10 for train:valid:test dataset
train_size=0.8


# In the first step we will split the data in training and remaining dataset
x_train, x_test, y_train, y_test = train_test_split(X,Y, train_size=0.8)

### Training Phase

#### 1. Linear regression

In [8]:
# create linear regression object
l_reg_wine = linear_model.LinearRegression()
 
# train the model using the training sets
l_reg_wine.fit(x_train, y_train)

LinearRegression()

#### 2. Support vector regression

In [9]:
svr_rbf_wine = SVR(kernel="rbf", C=100,max_iter=10000, gamma=0.1, epsilon=0.1)
svr_rbf_wine.fit(x_train, y_train)

/home/a/.local/lib/python3.8/site-packages/sklearn/svm/_base.py:255: ConvergenceWarning: Solver terminated early (max_iter=10000).  Consider pre-processing your data with StandardScaler or MinMaxScaler.
  warnings.warn('Solver terminated early (max_iter=%i).'

SVR(C=100, gamma=0.1, max_iter=10000)

#### 3. Decision tree regression

In [10]:
dr_regr_wine = DecisionTreeRegressor(max_depth=100, random_state=0)
dr_regr_wine.fit(x_train, y_train)

DecisionTreeRegressor(max_depth=100, random_state=0)

#### 4. Random forest regression

In [11]:
r_f_wine= RandomForestRegressor(random_state=0)
r_f_wine.fit(x_train, y_train)

RandomForestRegressor(random_state=0)

#### 5. k-nearest neighbours regression

In [12]:
kn_wine = KNeighborsRegressor(n_neighbors=8)
# n_neighbors=8

kn_wine.fit(x_train,y_train)
# print('Variance score: {}'.format(kn.score(x_test, y_test)))

KNeighborsRegressor(n_neighbors=8)

#### 6. AdaBoost regression

In [13]:
ada_wine = AdaBoostRegressor(random_state=0, n_estimators=100)
ada_wine.fit(x_train,y_train)

AdaBoostRegressor(n_estimators=100, random_state=0)

#### 7. Gaussian process regression

In [14]:
gpr_wine = gp.GaussianProcessRegressor(n_restarts_optimizer=10, alpha=0.1, normalize_y=True, random_state=0)
gpr_wine.fit(x_train, y_train)

GaussianProcessRegressor(alpha=0.1, n_restarts_optimizer=10, normalize_y=True,
                         random_state=0)

#### 8. Neural network regression

In [15]:
NN_model = Sequential()

# The Input Layer :
NN_model.add(Dense(128, kernel_initializer='normal',input_dim = x_train.shape[1], activation='relu'))

# The Hidden Layers :
NN_model.add(Dense(256, kernel_initializer='normal',activation='relu'))
NN_model.add(Dense(256, kernel_initializer='normal',activation='relu'))
NN_model.add(Dense(256, kernel_initializer='normal',activation='relu'))

# The Output Layer :
NN_model.add(Dense(1, kernel_initializer='normal',activation='linear'))

# Compile the network :
NN_model.compile(loss='mean_absolute_error', optimizer='adam', metrics=['mean_absolute_error'])
NN_model.summary()
NN_model.fit(x_train, y_train, epochs=20, batch_size=32, validation_split = 0.2)

2021-12-03 21:47:11.751902: E tensorflow/stream_executor/cuda/cuda_driver.cc:271] failed call to cuInit: CUDA_ERROR_NO_DEVICE: no CUDA-capable device is detected
2021-12-03 21:47:11.758268: I tensorflow/stream_executor/cuda/cuda_diagnostics.cc:156] kernel driver does not appear to be running on this host (a-VirtualBox): /proc/driver/nvidia/version does not exist
2021-12-03 21:47:11.758939: I tensorflow/core/platform/cpu_feature_guard.cc:151] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 128)               1536

 dense_1 (Dense)             (None, 256)               33024

 dense_2 (Dense)             (None, 256)               65792

 dense_3 (Dense)             (None, 256)               65792

 dense_4 (Dense)             (None, 1)                 257

=================================================================
Total params: 166,401
Trainable params: 166,401
Non-trainable params: 0
_________________________________________________________________
Epoch 1/20
32/32 [==============================] - 1s 6ms/step - loss: 1.5897 - mean_absolute_error: 1.5897 - val_loss: 0.6327 - val_mean_absolute_error: 0.6327
Epoch 2/20
32/32 [==============================] - 0s 3ms/step - loss: 0.6479 - mean_absolute_error: 0.6479 - val_loss: 0.7348 - val_mean_absolute_error: 0.7348
Epoch 3/20
32/32 [==============================] - 0s 3ms/step - loss: 0.6320 - mean_absolute_error: 0.6320 - val_loss: 0.5707 - val_mean_absolute_error: 0.5707
Epoch 4/20
32/32 [==============================] - 0s 3ms/step - loss: 0.6113 - mean_absolute_error: 0.6113 - val_loss: 0.5268 - val_mean_absolute_error: 0.5268
Epoch 5/20
32/32 [==============================] - 0s 3ms/step - loss: 0.5978 - mean_absolute_error: 0.5978 - val_loss: 0.5735 - val_mean_absolute_error: 0.5735
Epoch 6/20
32/32 [==============================] - 0s 3ms/step - loss: 0.5763 - mean_absolute_error: 0.5763 - val_loss: 0.5170 - val_mean_absolute_error: 0.5170
Epoch 7/20
32/32 [==============================] - 0s 3ms/step - loss: 0.5776 - mean_absolute_error: 0.5776 - val_loss: 0.5272 - val_mean_absolute_error: 0.5272
Epoch 8/20
32/32 [==============================] - 0s 3ms/step - loss: 0.5751 - mean_absolute_error: 0.5751 - val_loss: 0.7010 - val_mean_absolute_error: 0.7010
Epoch 9/20
32/32 [==============================] - 0s 3ms/step - loss: 0.5827 - mean_absolute_error: 0.5827 - val_loss: 0.5239 - val_mean_absolute_error: 0.5239
Epoch 10/20
32/32 [==============================] - 0s 3ms/step - loss: 0.5825 - mean_absolute_error: 0.5825 - val_loss: 0.5759 - val_mean_absolute_error: 0.5759
Epoch 11/20
32/32 [==============================] - 0s 3ms/step - loss: 0.5709 - mean_absolute_error: 0.5709 - val_loss: 0.5103 - val_mean_absolute_error: 0.5103
Epoch 12/20
32/32 [==============================] - 0s 3ms/step - loss: 0.5479 - mean_absolute_error: 0.5479 - val_loss: 0.6100 - val_mean_absolute_error: 0.6100
Epoch 13/20
32/32 [==============================] - 0s 3ms/step - loss: 0.6337 - mean_absolute_error: 0.6337 - val_loss: 0.5117 - val_mean_absolute_error: 0.5117
Epoch 14/20
32/32 [==============================] - 0s 3ms/step - loss: 0.5456 - mean_absolute_error: 0.5456 - val_loss: 0.5307 - val_mean_absolute_error: 0.5307
Epoch 15/20
32/32 [==============================] - 0s 3ms/step - loss: 0.5490 - mean_absolute_error: 0.5490 - val_loss: 0.5057 - val_mean_absolute_error: 0.5057
Epoch 16/20
32/32 [==============================] - 0s 2ms/step - loss: 0.5639 - mean_absolute_error: 0.5639 - val_loss: 0.5150 - val_mean_absolute_error: 0.5150
Epoch 17/20
32/32 [==============================] - 0s 2ms/step - loss: 0.5463 - mean_absolute_error: 0.5463 - val_loss: 0.5115 - val_mean_absolute_error: 0.5115
Epoch 18/20
32/32 [==============================] - 0s 3ms/step - loss: 0.5266 - mean_absolute_error: 0.5266 - val_loss: 0.4968 - val_mean_absolute_error: 0.4968
Epoch 19/20
32/32 [==============================] - 0s 3ms/step - loss: 0.5407 - mean_absolute_error: 0.5407 - val_loss: 0.6016 - val_mean_absolute_error: 0.6016
Epoch 20/20
32/32 [==============================] - 0s 3ms/step - loss: 0.5490 - mean_absolute_error: 0.5490 - val_loss: 0.4953 - val_mean_absolute_error: 0.4953

### Testing Phase

#### 1. Linear regression

In [166]:
output = l_reg_wine.predict(x_test)
print('MSE: {}'.format(mean_squared_error(y_test, output)))
print(f'R2: {r2_score(y_test, output)}')

MSE: 0.42121059590691284
R2: 0.3961138409936733
Variance score: 0.3961138409936733

#### 2. Support vector regression

In [17]:
output = svr_rbf_wine.predict(x_test)
print('MSE: {}'.format(mean_squared_error(y_test, output)))
print(f'R2: {r2_score(y_test, output)}')

MSE: 0.6955914533139539
R2: 0.002736267650245261

#### 3. Decision tree regression

In [18]:
output = dr_regr_wine.predict(x_test)
print('MSE: {}'.format(mean_squared_error(y_test, output)))
print(f'R2: {r2_score(y_test, output)}')

MSE: 0.615625
R2: 0.11738351254480284

#### 4. Random forest regression

In [19]:
output = r_f_wine.predict(x_test)
print('MSE: {}'.format(mean_squared_error(y_test, output)))
print(f'R2: {r2_score(y_test, output)}')

MSE: 0.33578656250000005
R2: 0.5185855734767024

#### 5. k-nearest neighbours regression

In [20]:
output = kn_wine.predict(x_test)
print('MSE: {}'.format(mean_squared_error(y_test, output)))
print(f'R2: {r2_score(y_test, output)}')

MSE: 0.586328125
R2: 0.15938620071684584

#### 6. AdaBoost regression

In [21]:
output = ada_wine.predict(x_test)
print('MSE: {}'.format(mean_squared_error(y_test, output)))
print(f'R2: {r2_score(y_test, output)}')

MSE: 0.41209450611196896
R2: 0.4091835037821233

#### 7. Gaussian process regression

In [22]:
output = gpr_wine.predict(x_test)
print('MSE: {}'.format(mean_squared_error(y_test, output)))
print(f'R2: {r2_score(y_test, output)}')

MSE: 0.5366046185012779
R2: 0.23067438207702085

#### 8. Neural network regression

In [23]:
output = NN_model.predict(x_test)
print('MSE: {}'.format(mean_squared_error(y_test, output)))
print(f'R2: {r2_score(y_test, output)}')

MSE: 0.48453284412239983
R2: 0.3053292557384949

## Dataset 2: Communities and Crime

### Import Required Libraries

In [24]:
names = list()
with open("datasets/communities.names","r") as f:
    for l in f.readlines():
        l = l.split(" ")
        if l[0] == "@attribute":
            names.append(l[1])
comm_dataset = pd.read_csv("datasets/communities.data", delimiter=',', names=names)

# feature selection
L_drop = [comm_dataset.columns[0], comm_dataset.columns[1], comm_dataset.columns[2], comm_dataset.columns[3]]
for i in range(11,len(comm_dataset.columns)):
    L_drop.append(comm_dataset.columns[i])
comm_df = comm_dataset.drop(columns=L_drop)

comm_df['y'] = comm_dataset['state']
comm_df = comm_df.astype(float)

### Data analysis and visualization

In [25]:
comm_df.head()

,fold,population,householdsize,racepctblack,racePctWhite,racePctAsian,racePctHisp,y
0,1.0,0.19,0.33,0.02,0.90,0.12,0.17,8.0
1,1.0,0.00,0.16,0.12,0.74,0.45,0.07,53.0
2,1.0,0.00,0.42,0.49,0.56,0.17,0.04,24.0
3,1.0,0.04,0.77,1.00,0.08,0.12,0.10,34.0
4,1.0,0.01,0.55,0.02,0.95,0.09,0.05,42.0

### Data Splitting into Training and Testing

In [26]:
X0=comm_df.drop('y', axis=1)
Y0=comm_df['y']

# Let's say we want to split the data in 80:10:10 for train:valid:test dataset
train_size=0.8


# In the first step we will split the data in training and remaining dataset
x_train0, x_test0, y_train0, y_test0 = train_test_split(X0,Y0, train_size=0.8)

### Training Phase

#### 1. Linear regression

In [27]:
# create linear regression object
l_reg_comm_df = linear_model.LinearRegression()
 
# train the model using the training sets
l_reg_comm_df.fit(x_train0, y_train0)

LinearRegression()

#### 2. Support vector regression

In [28]:
svr_rbf_comm_df  = SVR(kernel="rbf", C=100,max_iter=10000, gamma=0.1, epsilon=0.1)
svr_rbf_comm_df.fit(x_train0, y_train0)

SVR(C=100, gamma=0.1, max_iter=10000)

#### 3. Decision tree regression

In [29]:
dr_regr_comm_df  = DecisionTreeRegressor(max_depth=100, random_state=0)
dr_regr_comm_df.fit(x_train0, y_train0)

DecisionTreeRegressor(max_depth=100, random_state=0)

#### 4. Random forest regression

In [30]:
r_f_comm_df= RandomForestRegressor(random_state=0)
r_f_comm_df.fit(x_train0, y_train0)

RandomForestRegressor(random_state=0)

#### 5. k-nearest neighbours regression

In [31]:
kn_comm_df = KNeighborsRegressor(n_neighbors=8)
kn_comm_df.fit(x_train0,y_train0)

KNeighborsRegressor(n_neighbors=8)

#### 6. AdaBoost regression

In [32]:
ada_comm_df  = AdaBoostRegressor(random_state=0, n_estimators=100)
ada_comm_df .fit(x_train0,y_train0)

AdaBoostRegressor(n_estimators=100, random_state=0)

#### 7. Gaussian process regression

In [33]:
gpr_comm_df  = gp.GaussianProcessRegressor(n_restarts_optimizer=10, alpha=0.1, normalize_y=True, random_state=0)
gpr_comm_df.fit(x_train0, y_train0)

GaussianProcessRegressor(alpha=0.1, n_restarts_optimizer=10, normalize_y=True,
                         random_state=0)

#### 8. Neural network regression

In [34]:
NN_model0 = Sequential()

# The Input Layer :
NN_model0.add(Dense(128, kernel_initializer='normal',input_dim = x_train0.shape[1], activation='relu'))

# The Hidden Layers :
NN_model0.add(Dense(256, kernel_initializer='normal',activation='relu'))
NN_model0.add(Dense(256, kernel_initializer='normal',activation='relu'))
NN_model0.add(Dense(256, kernel_initializer='normal',activation='relu'))

# The Output Layer :
NN_model0.add(Dense(1, kernel_initializer='normal',activation='linear'))

# Compile the network :
NN_model0.compile(loss='mean_absolute_error', optimizer='adam', metrics=['mean_absolute_error'])
NN_model0.summary()
NN_model0.fit(x_train0, y_train0, epochs=20, batch_size=32, validation_split = 0.2)

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_5 (Dense)             (None, 128)               1024

 dense_6 (Dense)             (None, 256)               33024

 dense_7 (Dense)             (None, 256)               65792

 dense_8 (Dense)             (None, 256)               65792

 dense_9 (Dense)             (None, 1)                 257

=================================================================
Total params: 165,889
Trainable params: 165,889
Non-trainable params: 0
_________________________________________________________________
Epoch 1/20
40/40 [==============================] - 0s 5ms/step - loss: 21.5538 - mean_absolute_error: 21.5538 - val_loss: 16.5593 - val_mean_absolute_error: 16.5593
Epoch 2/20
40/40 [==============================] - 0s 3ms/step - loss: 15.1156 - mean_absolute_error: 15.1156 - val_loss: 15.2417 - val_mean_absolute_error: 15.2417
Epoch 3/20
40/40 [==============================] - 0s 2ms/step - loss: 13.9573 - mean_absolute_error: 13.9573 - val_loss: 14.1459 - val_mean_absolute_error: 14.1459
Epoch 4/20
40/40 [==============================] - 0s 2ms/step - loss: 13.8761 - mean_absolute_error: 13.8761 - val_loss: 13.3485 - val_mean_absolute_error: 13.3485
Epoch 5/20
40/40 [==============================] - 0s 2ms/step - loss: 13.3494 - mean_absolute_error: 13.3494 - val_loss: 13.0886 - val_mean_absolute_error: 13.0886
Epoch 6/20
40/40 [==============================] - 0s 2ms/step - loss: 13.2529 - mean_absolute_error: 13.2529 - val_loss: 13.2023 - val_mean_absolute_error: 13.2023
Epoch 7/20
40/40 [==============================] - 0s 3ms/step - loss: 13.0541 - mean_absolute_error: 13.0541 - val_loss: 13.0524 - val_mean_absolute_error: 13.0524
Epoch 8/20
40/40 [==============================] - 0s 2ms/step - loss: 13.0564 - mean_absolute_error: 13.0564 - val_loss: 13.9212 - val_mean_absolute_error: 13.9212
Epoch 9/20
40/40 [==============================] - 0s 2ms/step - loss: 13.1541 - mean_absolute_error: 13.1541 - val_loss: 13.1540 - val_mean_absolute_error: 13.1540
Epoch 10/20
40/40 [==============================] - 0s 3ms/step - loss: 13.2419 - mean_absolute_error: 13.2419 - val_loss: 13.0064 - val_mean_absolute_error: 13.0064
Epoch 11/20
40/40 [==============================] - 0s 2ms/step - loss: 13.0150 - mean_absolute_error: 13.0150 - val_loss: 12.7101 - val_mean_absolute_error: 12.7101
Epoch 12/20
40/40 [==============================] - 0s 3ms/step - loss: 12.9574 - mean_absolute_error: 12.9574 - val_loss: 13.2691 - val_mean_absolute_error: 13.2691
Epoch 13/20
40/40 [==============================] - 0s 3ms/step - loss: 12.9535 - mean_absolute_error: 12.9535 - val_loss: 12.9748 - val_mean_absolute_error: 12.9748
Epoch 14/20
40/40 [==============================] - 0s 3ms/step - loss: 13.1394 - mean_absolute_error: 13.1394 - val_loss: 12.6518 - val_mean_absolute_error: 12.6518
Epoch 15/20
40/40 [==============================] - 0s 3ms/step - loss: 13.0272 - mean_absolute_error: 13.0272 - val_loss: 12.8653 - val_mean_absolute_error: 12.8653
Epoch 16/20
40/40 [==============================] - 0s 3ms/step - loss: 13.1973 - mean_absolute_error: 13.1973 - val_loss: 12.7192 - val_mean_absolute_error: 12.7192
Epoch 17/20
40/40 [==============================] - 0s 3ms/step - loss: 13.0094 - mean_absolute_error: 13.0094 - val_loss: 12.9701 - val_mean_absolute_error: 12.9701
Epoch 18/20
40/40 [==============================] - 0s 3ms/step - loss: 13.3076 - mean_absolute_error: 13.3076 - val_loss: 14.8293 - val_mean_absolute_error: 14.8293
Epoch 19/20
40/40 [==============================] - 0s 3ms/step - loss: 13.4527 - mean_absolute_error: 13.4527 - val_loss: 13.4501 - val_mean_absolute_error: 13.4501
Epoch 20/20
40/40 [==============================] - 0s 2ms/step - loss: 12.6993 - mean_absolute_error: 12.6993 - val_loss: 12.8352 - val_mean_absolute_error: 12.8352

### Testing Phase

#### 1. Linear regression

In [35]:
output = l_reg_comm_df.predict(x_test0)
print('MSE: {}'.format(mean_squared_error(y_test0, output)))
print(f'R2: {r2_score(y_test0, output)}')

MSE: 229.62157333270042
R2: 0.17122120150807074

#### 2. Support vector regression

In [36]:
output = svr_rbf_comm_df.predict(x_test0)
print('MSE: {}'.format(mean_squared_error(y_test0, output)))
print(f'R2: {r2_score(y_test0, output)}')

MSE: 260.2299488141496
R2: 0.060745638227481136

#### 3. Decision tree regression

In [37]:
output = dr_regr_comm_df.predict(x_test0)
print('MSE: {}'.format(mean_squared_error(y_test0, output)))
print(f'R2: {r2_score(y_test0, output)}')

MSE: 399.453634085213
R2: -0.4417578370596049

#### 4. Random forest regression

In [38]:
output = r_f_comm_df.predict(x_test0)
print('MSE: {}'.format(mean_squared_error(y_test0, output)))
print(f'R2: {r2_score(y_test0, output)}')

MSE: 198.896084962406
R2: 0.2821194632219841

#### 5. k-nearest neighbours regression

In [39]:
output = kn_comm_df.predict(x_test0)
print('MSE: {}'.format(mean_squared_error(y_test0, output)))
print(f'R2: {r2_score(y_test0, output)}')

MSE: 261.3307095864662
R2: 0.05677263526845289

#### 6. AdaBoost regression

In [40]:
output = ada_comm_df.predict(x_test0)
print('MSE: {}'.format(mean_squared_error(y_test0, output)))
print(f'R2: {r2_score(y_test0, output)}')

MSE: 226.34451945871913
R2: 0.18304915274476208

#### 7. Gaussian process regression

In [41]:
output = gpr_comm_df.predict(x_test0)
print('MSE: {}'.format(mean_squared_error(y_test0, output)))
print(f'R2: {r2_score(y_test0, output)}')

MSE: 241.9871467405199
R2: 0.1265898329356261

#### 8. Neural network regression

In [42]:
output = NN_model0.predict(x_test0)
print('MSE: {}'.format(mean_squared_error(y_test0, output)))
print(f'R2: {r2_score(y_test0, output)}')

MSE: 255.68043497045974
R2: 0.07716631056401513

## Dataset 3: QSAR aquatic toxicity

### Data analysis and visualization

In [43]:
#immporting data
toxic_df=pd.read_csv('datasets/qsar_aquatic_toxicity.csv',  sep=';', 
                     names=["TPSA","SAacc", "H-050", "MLOGP", "RDCHI", "GATS1p", "nN", "C-040", "LC50"],
                    dtype=float)
toxic_df

      TPSA   SAacc  H-050  MLOGP  RDCHI  GATS1p   nN  C-040   LC50
0     0.00   0.000    0.0  2.419  1.225   0.667  0.0    0.0  3.740
1     0.00   0.000    0.0  2.638  1.401   0.632  0.0    0.0  4.330
2     9.23  11.000    0.0  5.799  2.930   0.486  0.0    0.0  7.019
3     9.23  11.000    0.0  5.453  2.887   0.495  0.0    0.0  6.723
4     9.23  11.000    0.0  4.068  2.758   0.695  0.0    0.0  5.979
..     ...     ...    ...    ...    ...     ...  ...    ...    ...
541  24.06  35.776    2.0  3.326  2.837   0.849  2.0    0.0  4.651
542   9.23  11.000    0.0  3.275  2.727   0.874  0.0    0.0  3.953
543   0.00   0.000    0.0  5.165  3.111   0.732  0.0    0.0  6.219
544  13.14   9.507    0.0  2.859  2.614   0.827  0.0    0.0  4.995
545   0.00   0.000    0.0  2.255  1.800   0.917  0.0    0.0  2.480

[546 rows x 9 columns]

### Data Splitting into Training and Testing

In [44]:
X1=toxic_df.drop('LC50', axis=1)
Y1=toxic_df['LC50']

# Let's say we want to split the data in 80:10:10 for train:valid:test dataset
train_size=0.8


# In the first step we will split the data in training and remaining dataset
x_train1, x_test1, y_train1, y_test1 = train_test_split(X1,Y1, train_size=0.8)

### Training Phase

#### 1. Linear regression

In [45]:
# create linear regression object
l_reg_toxic = linear_model.LinearRegression()
 
# train the model using the training sets
l_reg_toxic.fit(x_train1, y_train1)

LinearRegression()

#### 2. Support vector regression

In [46]:
svr_rbf_toxic  = SVR(kernel="rbf", C=100,max_iter=10000, gamma=0.1, epsilon=0.1)
svr_rbf_toxic.fit(x_train1, y_train1)

SVR(C=100, gamma=0.1, max_iter=10000)

#### 3. Decision tree regression

In [47]:
dr_regr_toxic  = DecisionTreeRegressor(max_depth=100, random_state=0)
dr_regr_toxic.fit(x_train1, y_train1)

DecisionTreeRegressor(max_depth=100, random_state=0)

#### 4. Random forest regression

In [48]:
r_f_toxic= RandomForestRegressor(random_state=0)
r_f_toxic.fit(x_train1, y_train1)

RandomForestRegressor(random_state=0)

#### 5. k-nearest neighbours regression

In [49]:
kn_toxic = KNeighborsRegressor(n_neighbors=8)
kn_toxic.fit(x_train1,y_train1)

KNeighborsRegressor(n_neighbors=8)

#### 6. AdaBoost regression

In [50]:
ada_toxic  = AdaBoostRegressor(random_state=0, n_estimators=100)
ada_toxic .fit(x_train1,y_train1)

AdaBoostRegressor(n_estimators=100, random_state=0)

#### 7. Gaussian process regression

In [51]:
gpr_toxic  = gp.GaussianProcessRegressor(n_restarts_optimizer=10, alpha=0.1, normalize_y=True, random_state=0)
gpr_toxic.fit(x_train1, y_train1)

GaussianProcessRegressor(alpha=0.1, n_restarts_optimizer=10, normalize_y=True,
                         random_state=0)

#### 8. Neural network regression

In [52]:
NN_model1 = Sequential()

# The Input Layer :
NN_model1.add(Dense(128, kernel_initializer='normal',input_dim = x_train1.shape[1], activation='relu'))

# The Hidden Layers :
NN_model1.add(Dense(256, kernel_initializer='normal',activation='relu'))
NN_model1.add(Dense(256, kernel_initializer='normal',activation='relu'))
NN_model1.add(Dense(256, kernel_initializer='normal',activation='relu'))

# The Output Layer :
NN_model1.add(Dense(1, kernel_initializer='normal',activation='linear'))

# Compile the network :
NN_model1.compile(loss='mean_absolute_error', optimizer='adam', metrics=['mean_absolute_error'])
NN_model1.summary()
NN_model1.fit(x_train1, y_train1, epochs=20, batch_size=32, validation_split = 0.2)

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_10 (Dense)            (None, 128)               1152

 dense_11 (Dense)            (None, 256)               33024

 dense_12 (Dense)            (None, 256)               65792

 dense_13 (Dense)            (None, 256)               65792

 dense_14 (Dense)            (None, 1)                 257

=================================================================
Total params: 166,017
Trainable params: 166,017
Non-trainable params: 0
_________________________________________________________________
Epoch 1/20
11/11 [==============================] - 0s 11ms/step - loss: 3.1808 - mean_absolute_error: 3.1808 - val_loss: 2.6678 - val_mean_absolute_error: 2.6678
Epoch 2/20
11/11 [==============================] - 0s 4ms/step - loss: 2.6457 - mean_absolute_error: 2.6457 - val_loss: 2.4827 - val_mean_absolute_error: 2.4827
Epoch 3/20
11/11 [==============================] - 0s 4ms/step - loss: 1.8223 - mean_absolute_error: 1.8223 - val_loss: 1.4173 - val_mean_absolute_error: 1.4173
Epoch 4/20
11/11 [==============================] - 0s 4ms/step - loss: 1.2388 - mean_absolute_error: 1.2388 - val_loss: 1.3041 - val_mean_absolute_error: 1.3041
Epoch 5/20
11/11 [==============================] - 0s 3ms/step - loss: 1.1526 - mean_absolute_error: 1.1526 - val_loss: 1.2494 - val_mean_absolute_error: 1.2494
Epoch 6/20
11/11 [==============================] - 0s 4ms/step - loss: 1.0394 - mean_absolute_error: 1.0394 - val_loss: 1.1723 - val_mean_absolute_error: 1.1723
Epoch 7/20
11/11 [==============================] - 0s 3ms/step - loss: 1.0176 - mean_absolute_error: 1.0176 - val_loss: 0.9646 - val_mean_absolute_error: 0.9646
Epoch 8/20
11/11 [==============================] - 0s 4ms/step - loss: 0.9951 - mean_absolute_error: 0.9951 - val_loss: 1.0417 - val_mean_absolute_error: 1.0417
Epoch 9/20
11/11 [==============================] - 0s 4ms/step - loss: 1.0383 - mean_absolute_error: 1.0383 - val_loss: 1.3377 - val_mean_absolute_error: 1.3377
Epoch 10/20
11/11 [==============================] - 0s 3ms/step - loss: 1.0483 - mean_absolute_error: 1.0483 - val_loss: 1.2223 - val_mean_absolute_error: 1.2223
Epoch 11/20
11/11 [==============================] - 0s 3ms/step - loss: 1.0945 - mean_absolute_error: 1.0945 - val_loss: 1.0613 - val_mean_absolute_error: 1.0613
Epoch 12/20
11/11 [==============================] - 0s 4ms/step - loss: 0.9966 - mean_absolute_error: 0.9966 - val_loss: 1.0902 - val_mean_absolute_error: 1.0902
Epoch 13/20
11/11 [==============================] - 0s 4ms/step - loss: 0.9280 - mean_absolute_error: 0.9280 - val_loss: 0.9977 - val_mean_absolute_error: 0.9977
Epoch 14/20
11/11 [==============================] - 0s 3ms/step - loss: 0.9220 - mean_absolute_error: 0.9220 - val_loss: 0.9987 - val_mean_absolute_error: 0.9987
Epoch 15/20
11/11 [==============================] - 0s 4ms/step - loss: 0.9004 - mean_absolute_error: 0.9004 - val_loss: 1.0381 - val_mean_absolute_error: 1.0381
Epoch 16/20
11/11 [==============================] - 0s 4ms/step - loss: 0.8971 - mean_absolute_error: 0.8971 - val_loss: 1.0419 - val_mean_absolute_error: 1.0419
Epoch 17/20
11/11 [==============================] - 0s 4ms/step - loss: 0.9410 - mean_absolute_error: 0.9410 - val_loss: 1.0478 - val_mean_absolute_error: 1.0478
Epoch 18/20
11/11 [==============================] - 0s 3ms/step - loss: 1.0654 - mean_absolute_error: 1.0654 - val_loss: 1.1098 - val_mean_absolute_error: 1.1098
Epoch 19/20
11/11 [==============================] - 0s 4ms/step - loss: 0.9221 - mean_absolute_error: 0.9221 - val_loss: 1.1218 - val_mean_absolute_error: 1.1218
Epoch 20/20
11/11 [==============================] - 0s 4ms/step - loss: 0.9518 - mean_absolute_error: 0.9518 - val_loss: 1.0562 - val_mean_absolute_error: 1.0562

### Testing Phase

#### 1. Linear regression

In [53]:
output = l_reg_toxic.predict(x_test1)
print('MSE: {}'.format(mean_squared_error(y_test1, output)))
print(f'R2: {r2_score(y_test1, output)}')

MSE: 1.3112337527395346
R2: 0.47686209010414504

#### 2. Support vector regression

In [54]:
output = svr_rbf_toxic.predict(x_test1)
print('MSE: {}'.format(mean_squared_error(y_test1, output)))
print(f'R2: {r2_score(y_test1, output)}')

MSE: 1.470616378696796
R2: 0.4132738140680894

#### 3. Decision tree regression

In [55]:
output = dr_regr_toxic.predict(x_test1)
print('MSE: {}'.format(mean_squared_error(y_test1, output)))
print(f'R2: {r2_score(y_test1, output)}')

MSE: 2.571019240404041
R2: -0.025749702459170187

#### 4. Random forest regression

In [56]:
output = r_f_toxic.predict(x_test1)
print('MSE: {}'.format(mean_squared_error(y_test1, output)))
print(f'R2: {r2_score(y_test1, output)}')

MSE: 1.2310705641129418
R2: 0.508844490542729

#### 5. k-nearest neighbours regression

In [57]:
output = kn_toxic.predict(x_test1)
print('MSE: {}'.format(mean_squared_error(y_test1, output)))
print(f'R2: {r2_score(y_test1, output)}')

MSE: 1.9884949348011363
R2: 0.20665778938578083

#### 6. AdaBoost regression

In [58]:
output = ada_toxic.predict(x_test1)
print('MSE: {}'.format(mean_squared_error(y_test1, output)))
print(f'R2: {r2_score(y_test1, output)}')

MSE: 1.4141891214669824
R2: 0.43578638083712395

#### 7. Gaussian process regression

In [59]:
output = gpr_toxic.predict(x_test1)
print('MSE: {}'.format(mean_squared_error(y_test1, output)))
print(f'R2: {r2_score(y_test1, output)}')

MSE: 1.6441963204125267
R2: 0.3440212893223742

#### 8. Neural network regression

In [60]:
output = NN_model1.predict(x_test1)
print('MSE: {}'.format(mean_squared_error(y_test1, output)))
print(f'R2: {r2_score(y_test1, output)}')

MSE: 1.8329383308719465
R2: 0.26871961206231976

## Dataset 4: Facebook metrics

### Import Required Libraries

### Data analysis and visualization

In [61]:
#importing data
fb_df = pd.read_csv('datasets/dataset_Facebook.csv', sep=';', header=0)

In [62]:
features_cat = ["Type"]

# replace the columns with categorical values by its one hot encoding
print(features_cat)
for feat in features_cat:
    tmp_df = pd.get_dummies(fb_df[feat], prefix=feat)
    idx = fb_df.columns.get_loc(feat)
    for i, col in enumerate(tmp_df.columns):
        fb_df.insert(idx+i, col, tmp_df[col])
    fb_df = fb_df.drop(feat, axis=1)

fb_df

,Page total likes,Type_Link,Type_Photo,Type_Status,Type_Video,Category,Post Month,Post Weekday,Post Hour,Paid,...,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,0,1,0,0,2,12,4,3,0.0,...,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,0,0,1,0,2,12,3,10,0.0,...,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,0,1,0,0,3,12,3,3,0.0,...,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,0,1,0,0,2,12,2,10,1.0,...,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,0,1,0,0,2,12,2,3,0.0,...,671,410,580,6228,3200,396,19,325.0,49.0,393
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,85093,0,1,0,0,3,1,7,2,0.0,...,733,708,985,4750,2876,392,5,53.0,26.0,84
496,81370,0,1,0,0,2,1,5,8,0.0,...,537,508,687,3961,2104,301,0,53.0,22.0,75
497,81370,0,1,0,0,1,1,5,2,0.0,...,625,572,795,4742,2388,363,4,93.0,18.0,115
498,81370,0,1,0,0,3,1,4,11,0.0,...,626,574,832,4534,2452,370,7,91.0,38.0,136
499,81370,0,1,0,0,2,1,4,4,NaN,...,564,524,743,3861,2200,316,0,91.0,28.0,119

In [63]:
# Delete every row containing at least one 'Nan'
fb_df = fb_df.dropna(axis=0).astype(int)

### Data Splitting into Training and Testing

In [64]:
X2=fb_df.drop("Total Interactions",axis=1)
X2

,Page total likes,Type_Link,Type_Photo,Type_Status,Type_Video,Category,Post Month,Post Weekday,Post Hour,Paid,...,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share
0,139441,0,1,0,0,2,12,4,3,0,...,5091,178,109,159,3078,1640,119,4,79,17
1,139441,0,0,1,0,2,12,3,10,0,...,19057,1457,1361,1674,11710,6112,1108,5,130,29
2,139441,0,1,0,0,3,12,3,3,0,...,4373,177,113,154,2812,1503,132,0,66,14
3,139441,0,1,0,0,2,12,2,10,1,...,87991,2211,790,1119,61027,32048,1386,58,1572,147
4,139441,0,1,0,0,2,12,2,3,0,...,13594,671,410,580,6228,3200,396,19,325,49
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
494,85093,0,1,0,0,3,1,7,10,0,...,9218,810,756,1003,5654,3230,422,10,125,41
495,85093,0,1,0,0,3,1,7,2,0,...,7536,733,708,985,4750,2876,392,5,53,26
496,81370,0,1,0,0,2,1,5,8,0,...,6229,537,508,687,3961,2104,301,0,53,22
497,81370,0,1,0,0,1,1,5,2,0,...,7216,625,572,795,4742,2388,363,4,93,18
498,81370,0,1,0,0,3,1,4,11,0,...,7564,626,574,832,4534,2452,370,7,91,38

In [65]:
Y2=fb_df["Total Interactions"]
Y2

0       100
1       164
2        80
3      1777
4       393
       ...
494     176
495      84
496      75
497     115
498     136
Name: Total Interactions, Length: 495, dtype: int64

In [66]:
# Let's say we want to split the data in 80:10:10 for train:valid:test dataset
train_size=0.8


# In the first step we will split the data in training and remaining dataset
x_train2, x_test2, y_train2, y_test2 = train_test_split(X2,Y2, train_size=0.8)

### Training Phase

#### 1. Linear regression

In [67]:
# create linear regression object
l_reg_fb_df = linear_model.LinearRegression()
 
# train the model using the training sets
l_reg_fb_df.fit(x_train2, y_train2)

LinearRegression()

#### 2. Support vector regression

In [68]:
svr_rbf_fb_df  = SVR(kernel="rbf", C=100,max_iter=10000, gamma=0.1, epsilon=0.1)
svr_rbf_fb_df.fit(x_train2, y_train2)

SVR(C=100, gamma=0.1, max_iter=10000)

#### 3. Decision tree regression

In [69]:
dr_regr_fb_df  = DecisionTreeRegressor(max_depth=100, random_state=0)
dr_regr_fb_df.fit(x_train2, y_train2)

DecisionTreeRegressor(max_depth=100, random_state=0)

#### 4. Random forest regression

In [70]:
r_f_fb_df= RandomForestRegressor(random_state=0)
r_f_fb_df.fit(x_train2, y_train2)

RandomForestRegressor(random_state=0)

#### 5. k-nearest neighbours regression

In [71]:
kn_fb_df = KNeighborsRegressor(n_neighbors=8)
kn_fb_df.fit(x_train2,y_train2)

KNeighborsRegressor(n_neighbors=8)

#### 6. AdaBoost regression

In [72]:
ada_fb_df  = AdaBoostRegressor(random_state=0, n_estimators=100)
ada_fb_df.fit(x_train2,y_train2)

AdaBoostRegressor(n_estimators=100, random_state=0)

#### 7. Gaussian process regression

In [73]:
gpr_fb_df  = gp.GaussianProcessRegressor(n_restarts_optimizer=10, alpha=0.1, normalize_y=True, random_state=0)
gpr_fb_df.fit(x_train2, y_train2)

GaussianProcessRegressor(alpha=0.1, n_restarts_optimizer=10, normalize_y=True,
                         random_state=0)

#### 8. Neural network regression

In [74]:
NN_model2 = Sequential()

# The Input Layer :
NN_model2.add(Dense(128, kernel_initializer='normal',input_dim = x_train2.shape[1], activation='relu'))

# The Hidden Layers :
NN_model2.add(Dense(256, kernel_initializer='normal',activation='relu'))
NN_model2.add(Dense(256, kernel_initializer='normal',activation='relu'))
NN_model2.add(Dense(256, kernel_initializer='normal',activation='relu'))

# The Output Layer :
NN_model2.add(Dense(1, kernel_initializer='normal',activation='linear'))

# Compile the network :
NN_model2.compile(loss='mean_absolute_error', optimizer='adam', metrics=['mean_absolute_error'])
NN_model2.summary()
NN_model2.fit(x_train2, y_train2, epochs=20, batch_size=32, validation_split = 0.2)

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_15 (Dense)            (None, 128)               2816

 dense_16 (Dense)            (None, 256)               33024

 dense_17 (Dense)            (None, 256)               65792

 dense_18 (Dense)            (None, 256)               65792

 dense_19 (Dense)            (None, 1)                 257

=================================================================
Total params: 167,681
Trainable params: 167,681
Non-trainable params: 0
_________________________________________________________________
Epoch 1/20
10/10 [==============================] - 0s 13ms/step - loss: 442.0592 - mean_absolute_error: 442.0592 - val_loss: 265.8475 - val_mean_absolute_error: 265.8475
Epoch 2/20
10/10 [==============================] - 0s 3ms/step - loss: 135.9589 - mean_absolute_error: 135.9589 - val_loss: 257.5655 - val_mean_absolute_error: 257.5655
Epoch 3/20
10/10 [==============================] - 0s 4ms/step - loss: 121.3809 - mean_absolute_error: 121.3809 - val_loss: 222.2875 - val_mean_absolute_error: 222.2875
Epoch 4/20
10/10 [==============================] - 0s 4ms/step - loss: 110.4722 - mean_absolute_error: 110.4722 - val_loss: 223.7496 - val_mean_absolute_error: 223.7496
Epoch 5/20
10/10 [==============================] - 0s 4ms/step - loss: 109.4437 - mean_absolute_error: 109.4437 - val_loss: 217.3868 - val_mean_absolute_error: 217.3868
Epoch 6/20
10/10 [==============================] - 0s 4ms/step - loss: 109.5406 - mean_absolute_error: 109.5406 - val_loss: 224.5226 - val_mean_absolute_error: 224.5226
Epoch 7/20
10/10 [==============================] - 0s 4ms/step - loss: 107.5017 - mean_absolute_error: 107.5017 - val_loss: 202.3305 - val_mean_absolute_error: 202.3305
Epoch 8/20
10/10 [==============================] - 0s 4ms/step - loss: 102.1809 - mean_absolute_error: 102.1809 - val_loss: 229.2663 - val_mean_absolute_error: 229.2663
Epoch 9/20
10/10 [==============================] - 0s 4ms/step - loss: 107.8746 - mean_absolute_error: 107.8746 - val_loss: 199.3808 - val_mean_absolute_error: 199.3808
Epoch 10/20
10/10 [==============================] - 0s 4ms/step - loss: 101.6769 - mean_absolute_error: 101.6769 - val_loss: 213.1403 - val_mean_absolute_error: 213.1403
Epoch 11/20
10/10 [==============================] - 0s 5ms/step - loss: 100.8610 - mean_absolute_error: 100.8610 - val_loss: 212.6752 - val_mean_absolute_error: 212.6752
Epoch 12/20
10/10 [==============================] - 0s 4ms/step - loss: 103.8218 - mean_absolute_error: 103.8218 - val_loss: 226.5636 - val_mean_absolute_error: 226.5636
Epoch 13/20
10/10 [==============================] - 0s 5ms/step - loss: 97.5523 - mean_absolute_error: 97.5523 - val_loss: 223.4298 - val_mean_absolute_error: 223.4298
Epoch 14/20
10/10 [==============================] - 0s 5ms/step - loss: 98.4266 - mean_absolute_error: 98.4266 - val_loss: 216.2102 - val_mean_absolute_error: 216.2102
Epoch 15/20
10/10 [==============================] - 0s 4ms/step - loss: 100.1519 - mean_absolute_error: 100.1519 - val_loss: 182.5045 - val_mean_absolute_error: 182.5045
Epoch 16/20
10/10 [==============================] - 0s 5ms/step - loss: 107.1422 - mean_absolute_error: 107.1422 - val_loss: 203.4808 - val_mean_absolute_error: 203.4808
Epoch 17/20
10/10 [==============================] - 0s 5ms/step - loss: 102.3071 - mean_absolute_error: 102.3071 - val_loss: 244.6594 - val_mean_absolute_error: 244.6594
Epoch 18/20
10/10 [==============================] - 0s 6ms/step - loss: 118.8331 - mean_absolute_error: 118.8331 - val_loss: 263.9197 - val_mean_absolute_error: 263.9197
Epoch 19/20
10/10 [==============================] - 0s 5ms/step - loss: 109.4611 - mean_absolute_error: 109.4611 - val_loss: 192.3164 - val_mean_absolute_error: 192.3164
Epoch 20/20
10/10 [==============================] - 0s 5ms/step - loss: 115.4398 - mean_absolute_error: 115.4398 - val_loss: 186.4326 - val_mean_absolute_error: 186.4326

### Testing Phase

#### 1. Linear regression

In [75]:
output = l_reg_fb_df.predict(x_test2)
print('MSE: {}'.format(mean_squared_error(y_test2, output)))
print(f'R2: {r2_score(y_test2, output)}')

MSE: 1.0161754547981288e-24
R2: 1.0

#### 2. Support vector regression

In [76]:
output = svr_rbf_fb_df.predict(x_test2)
print('MSE: {}'.format(mean_squared_error(y_test2, output)))
print(f'R2: {r2_score(y_test2, output)}')

MSE: 91222.42060533223
R2: -0.04955724319782595

#### 3. Decision tree regression

In [77]:
output = dr_regr_fb_df.predict(x_test2)
print('MSE: {}'.format(mean_squared_error(y_test2, output)))
print(f'R2: {r2_score(y_test2, output)}')

MSE: 3181.878787878788
R2: 0.9633909744267355

#### 4. Random forest regression

In [78]:
output = r_f_fb_df.predict(x_test2)
print('MSE: {}'.format(mean_squared_error(y_test2, output)))
print(f'R2: {r2_score(y_test2, output)}')

MSE: 2644.500937373738
R2: 0.9695737616361628

#### 5. k-nearest neighbours regression

In [79]:
output = kn_fb_df.predict(x_test2)
print('MSE: {}'.format(mean_squared_error(y_test2, output)))
print(f'R2: {r2_score(y_test2, output)}')

MSE: 76387.68371212122
R2: 0.12112344532024999

#### 6. AdaBoost regression

In [80]:
output = ada_fb_df.predict(x_test2)
print('MSE: {}'.format(mean_squared_error(y_test2, output)))
print(f'R2: {r2_score(y_test2, output)}')

MSE: 3344.254634661731
R2: 0.9615227632459695

#### 7. Gaussian process regression

In [81]:
output = gpr_fb_df.predict(x_test2)
print('MSE: {}'.format(mean_squared_error(y_test2, output)))
print(f'R2: {r2_score(y_test2, output)}')

MSE: 87010.35588205286
R2: -0.001095439511841656

#### 8. Neural network regression

In [82]:
output = NN_model2.predict(x_test2)
print('MSE: {}'.format(mean_squared_error(y_test2, output)))
print(f'R2: {r2_score(y_test2, output)}')

MSE: 57442.78404098236
R2: 0.3390935072804083

## Dataset 5: Bike Sharing (use hour data)

In [83]:
#importing data
bike=pd.read_csv('datasets/hour.csv')
bike=bike.drop(['instant','dteday'], axis=1)

### Import Required Libraries

### Data analysis and visualization

In [84]:
bike

,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0000,3,13,16
1,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0000,8,32,40
2,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0000,5,27,32
3,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0000,3,10,13
4,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0000,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17374,1,1,12,19,0,1,1,2,0.26,0.2576,0.60,0.1642,11,108,119
17375,1,1,12,20,0,1,1,2,0.26,0.2576,0.60,0.1642,8,81,89
17376,1,1,12,21,0,1,1,1,0.26,0.2576,0.60,0.1642,7,83,90
17377,1,1,12,22,0,1,1,1,0.26,0.2727,0.56,0.1343,13,48,61
17378,1,1,12,23,0,1,1,1,0.26,0.2727,0.65,0.1343,12,37,49

### Data Splitting into Training and Testing

In [85]:
X3=bike.drop('cnt',axis=1)
X3

,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered
0,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0000,3,13
1,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0000,8,32
2,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0000,5,27
3,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0000,3,10
4,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0000,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17374,1,1,12,19,0,1,1,2,0.26,0.2576,0.60,0.1642,11,108
17375,1,1,12,20,0,1,1,2,0.26,0.2576,0.60,0.1642,8,81
17376,1,1,12,21,0,1,1,1,0.26,0.2576,0.60,0.1642,7,83
17377,1,1,12,22,0,1,1,1,0.26,0.2727,0.56,0.1343,13,48
17378,1,1,12,23,0,1,1,1,0.26,0.2727,0.65,0.1343,12,37

In [86]:
Y3=bike['cnt']
Y3

0         16
1         40
2         32
3         13
4          1
        ...
17374    119
17375     89
17376     90
17377     61
17378     49
Name: cnt, Length: 17379, dtype: int64

In [87]:
# Let's say we want to split the data in 80:10:10 for train:valid:test dataset
train_size=0.8


# In the first step we will split the data in training and remaining dataset
x_train3, x_test3, y_train3, y_test3 = train_test_split(X3,Y3, train_size=0.8)

### Training Phase

#### 1. Linear regression

In [88]:
# create linear regression object
l_reg_bike = linear_model.LinearRegression()
 
# train the model using the training sets
l_reg_bike.fit(x_train3, y_train3)

LinearRegression()

#### 2. Support vector regression

In [89]:
svr_rbf_bike  = SVR(kernel="rbf", C=100,max_iter=100, gamma=0.1, epsilon=0.1)
svr_rbf_bike.fit(x_train3, y_train3)

/home/a/.local/lib/python3.8/site-packages/sklearn/svm/_base.py:255: ConvergenceWarning: Solver terminated early (max_iter=100).  Consider pre-processing your data with StandardScaler or MinMaxScaler.
  warnings.warn('Solver terminated early (max_iter=%i).'

SVR(C=100, gamma=0.1, max_iter=100)

#### 3. Decision tree regression

In [90]:
dr_regr_bike = DecisionTreeRegressor(max_depth=100, random_state=0)
dr_regr_bike.fit(x_train3, y_train3)

DecisionTreeRegressor(max_depth=100, random_state=0)

#### 4. Random forest regression

In [91]:
r_f_bike= RandomForestRegressor(random_state=0)
r_f_bike.fit(x_train3, y_train3)

RandomForestRegressor(random_state=0)

#### 5. k-nearest neighbours regression

In [92]:
kn_bike = KNeighborsRegressor(n_neighbors=8)
kn_bike.fit(x_train3,y_train3)

KNeighborsRegressor(n_neighbors=8)

#### 6. AdaBoost regression

In [93]:
ada_bike  = AdaBoostRegressor(random_state=0, n_estimators=100)
ada_bike.fit(x_train3,y_train3)

AdaBoostRegressor(n_estimators=100, random_state=0)

#### 7. Gaussian process regression

In [94]:
gpr_bike = gp.GaussianProcessRegressor(n_restarts_optimizer=10, alpha=0.1, normalize_y=True, random_state=0)
gpr_bike.fit(x_train3, y_train3)

GaussianProcessRegressor(alpha=0.1, n_restarts_optimizer=10, normalize_y=True,
                         random_state=0)

#### 8. Neural network regression

In [95]:
NN_model3 = Sequential()

# The Input Layer :
NN_model3.add(Dense(128, kernel_initializer='normal',input_dim = x_train3.shape[1], activation='relu'))

# The Hidden Layers :
NN_model3.add(Dense(256, kernel_initializer='normal',activation='relu'))
NN_model3.add(Dense(256, kernel_initializer='normal',activation='relu'))
NN_model3.add(Dense(256, kernel_initializer='normal',activation='relu'))

# The Output Layer :
NN_model3.add(Dense(1, kernel_initializer='normal',activation='linear'))

# Compile the network :
NN_model3.compile(loss='mean_absolute_error', optimizer='adam', metrics=['mean_absolute_error'])
NN_model3.summary()
NN_model3.fit(x_train3, y_train3, epochs=20, batch_size=32, validation_split = 0.2)

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_20 (Dense)            (None, 128)               1920

 dense_21 (Dense)            (None, 256)               33024

 dense_22 (Dense)            (None, 256)               65792

 dense_23 (Dense)            (None, 256)               65792

 dense_24 (Dense)            (None, 1)                 257

=================================================================
Total params: 166,785
Trainable params: 166,785
Non-trainable params: 0
_________________________________________________________________
Epoch 1/20
348/348 [==============================] - 1s 2ms/step - loss: 10.3546 - mean_absolute_error: 10.3546 - val_loss: 6.1546 - val_mean_absolute_error: 6.1546
Epoch 2/20
348/348 [==============================] - 1s 2ms/step - loss: 4.4372 - mean_absolute_error: 4.4372 - val_loss: 1.6081 - val_mean_absolute_error: 1.6081
Epoch 3/20
348/348 [==============================] - 1s 2ms/step - loss: 4.5137 - mean_absolute_error: 4.5137 - val_loss: 4.1779 - val_mean_absolute_error: 4.1779
Epoch 4/20
348/348 [==============================] - 1s 2ms/step - loss: 3.2773 - mean_absolute_error: 3.2773 - val_loss: 5.6752 - val_mean_absolute_error: 5.6752
Epoch 5/20
348/348 [==============================] - 1s 2ms/step - loss: 3.4368 - mean_absolute_error: 3.4368 - val_loss: 0.8665 - val_mean_absolute_error: 0.8665
Epoch 6/20
348/348 [==============================] - 1s 2ms/step - loss: 3.1157 - mean_absolute_error: 3.1157 - val_loss: 1.8911 - val_mean_absolute_error: 1.8911
Epoch 7/20
348/348 [==============================] - 1s 2ms/step - loss: 2.9687 - mean_absolute_error: 2.9687 - val_loss: 8.1743 - val_mean_absolute_error: 8.1743
Epoch 8/20
348/348 [==============================] - 1s 2ms/step - loss: 2.7301 - mean_absolute_error: 2.7301 - val_loss: 3.8520 - val_mean_absolute_error: 3.8520
Epoch 9/20
348/348 [==============================] - 1s 2ms/step - loss: 3.3465 - mean_absolute_error: 3.3465 - val_loss: 0.7094 - val_mean_absolute_error: 0.7094
Epoch 10/20
348/348 [==============================] - 1s 2ms/step - loss: 2.7111 - mean_absolute_error: 2.7111 - val_loss: 8.3039 - val_mean_absolute_error: 8.3039
Epoch 11/20
348/348 [==============================] - 1s 2ms/step - loss: 2.6987 - mean_absolute_error: 2.6987 - val_loss: 2.4517 - val_mean_absolute_error: 2.4517
Epoch 12/20
348/348 [==============================] - 1s 2ms/step - loss: 2.8066 - mean_absolute_error: 2.8066 - val_loss: 0.8168 - val_mean_absolute_error: 0.8168
Epoch 13/20
348/348 [==============================] - 1s 2ms/step - loss: 3.3840 - mean_absolute_error: 3.3840 - val_loss: 4.0647 - val_mean_absolute_error: 4.0647
Epoch 14/20
348/348 [==============================] - 1s 2ms/step - loss: 2.2505 - mean_absolute_error: 2.2505 - val_loss: 1.8939 - val_mean_absolute_error: 1.8939
Epoch 15/20
348/348 [==============================] - 1s 2ms/step - loss: 2.5245 - mean_absolute_error: 2.5245 - val_loss: 3.0878 - val_mean_absolute_error: 3.0878
Epoch 16/20
348/348 [==============================] - 1s 2ms/step - loss: 2.4918 - mean_absolute_error: 2.4918 - val_loss: 0.6710 - val_mean_absolute_error: 0.6710
Epoch 17/20
348/348 [==============================] - 1s 2ms/step - loss: 3.0486 - mean_absolute_error: 3.0486 - val_loss: 1.7967 - val_mean_absolute_error: 1.7967
Epoch 18/20
348/348 [==============================] - 1s 2ms/step - loss: 2.4150 - mean_absolute_error: 2.4150 - val_loss: 0.1889 - val_mean_absolute_error: 0.1889
Epoch 19/20
348/348 [==============================] - 1s 2ms/step - loss: 2.5977 - mean_absolute_error: 2.5977 - val_loss: 0.9854 - val_mean_absolute_error: 0.9854
Epoch 20/20
348/348 [==============================] - 1s 2ms/step - loss: 1.8305 - mean_absolute_error: 1.8305 - val_loss: 2.2779 - val_mean_absolute_error: 2.2779

### Testing Phase

#### 1. Linear regression

In [96]:
output = l_reg_bike.predict(x_test3)
print('MSE: {}'.format(mean_squared_error(y_test3, output)))
print(f'R2: {r2_score(y_test3, output)}')

MSE: 3.483068131878882e-26
R2: 1.0

#### 2. Support vector regression

In [97]:
output = svr_rbf_bike.predict(x_test3)
print('MSE: {}'.format(mean_squared_error(y_test3, output)))
print(f'R2: {r2_score(y_test3, output)}')

MSE: 75495.86377526302
R2: -1.4194543232162875

#### 3. Decision tree regression

In [98]:
output = dr_regr_bike.predict(x_test3)
print('MSE: {}'.format(mean_squared_error(y_test3, output)))
print(f'R2: {r2_score(y_test3, output)}')

MSE: 22.65506329113924
R2: 0.9992739616704611

#### 4. Random forest regression

In [99]:
output = r_f_bike.predict(x_test3)
print('MSE: {}'.format(mean_squared_error(y_test3, output)))
print(f'R2: {r2_score(y_test3, output)}')

MSE: 4.3250337169159945
R2: 0.9998613934459297

#### 5. k-nearest neighbours regression

In [100]:
output = kn_bike.predict(x_test3)
print('MSE: {}'.format(mean_squared_error(y_test3, output)))
print(f'R2: {r2_score(y_test3, output)}')

MSE: 4.001708141542002
R2: 0.9998717552249998

#### 6. AdaBoost regression

In [101]:
output = ada_bike.predict(x_test3)
print('MSE: {}'.format(mean_squared_error(y_test3, output)))
print(f'R2: {r2_score(y_test3, output)}')

MSE: 902.9181399391056
R2: 0.9710637233890174

#### 7. Gaussian process regression

In [102]:
output = gpr_bike.predict(x_test3)
print('MSE: {}'.format(mean_squared_error(y_test3, output)))
print(f'R2: {r2_score(y_test3, output)}')

MSE: 25489.04760670041
R2: 0.18313953450117715

#### 8. Neural network regression

In [103]:
output = NN_model3.predict(x_test3)
print('MSE: {}'.format(mean_squared_error(y_test3, output.flatten())))
print(f'R2: {r2_score(y_test3, output)}')

MSE: 10.71079543144721
R2: 0.99965674569419

## Dataset 6: Student Performance

### Data analysis and visualization

In [104]:
#importing data
stu=pd.read_csv('datasets/student-por.csv', sep=';')
features_cat = ['school',"sex",'address','famsize','Pstatus','Mjob','Fjob','reason','guardian','schoolsup','famsup','paid','activities','nursery','higher','internet','romantic']

# replace the columns with categorical values by its one hot encoding
for feat in features_cat:
    tmp_df = pd.get_dummies(stu[feat], prefix=feat)
    idx = stu.columns.get_loc(feat)
    for i, col in enumerate(tmp_df.columns):
        stu.insert(idx+i, col, tmp_df[col])
    stu = stu.drop(feat, axis=1)

stu

,school_GP,school_MS,sex_F,sex_M,age,address_R,address_U,famsize_GT3,famsize_LE3,Pstatus_A,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,1,0,1,0,18,0,1,1,0,1,...,4,3,4,1,1,3,4,0,11,11
1,1,0,1,0,17,0,1,1,0,0,...,5,3,3,1,1,3,2,9,11,11
2,1,0,1,0,15,0,1,0,1,0,...,4,3,2,2,3,3,6,12,13,12
3,1,0,1,0,15,0,1,1,0,0,...,3,2,2,1,1,5,0,14,14,14
4,1,0,1,0,16,0,1,1,0,0,...,4,3,2,1,2,5,0,11,13,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
644,0,1,1,0,19,1,0,1,0,0,...,5,4,2,1,2,5,4,10,11,10
645,0,1,1,0,18,0,1,0,1,0,...,4,3,4,1,1,1,4,15,15,16
646,0,1,1,0,18,0,1,1,0,0,...,1,1,1,1,1,5,6,11,12,9
647,0,1,0,1,17,0,1,0,1,0,...,2,4,5,3,4,2,6,10,10,10
648,0,1,0,1,18,1,0,0,1,0,...,4,4,1,3,4,5,4,10,11,11

### Data Splitting into Training and Testing

In [105]:
X4=stu.drop("G2",axis=1)
X4

,school_GP,school_MS,sex_F,sex_M,age,address_R,address_U,famsize_GT3,famsize_LE3,Pstatus_A,...,romantic_yes,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G3
0,1,0,1,0,18,0,1,1,0,1,...,0,4,3,4,1,1,3,4,0,11
1,1,0,1,0,17,0,1,1,0,0,...,0,5,3,3,1,1,3,2,9,11
2,1,0,1,0,15,0,1,0,1,0,...,0,4,3,2,2,3,3,6,12,12
3,1,0,1,0,15,0,1,1,0,0,...,1,3,2,2,1,1,5,0,14,14
4,1,0,1,0,16,0,1,1,0,0,...,0,4,3,2,1,2,5,0,11,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
644,0,1,1,0,19,1,0,1,0,0,...,0,5,4,2,1,2,5,4,10,10
645,0,1,1,0,18,0,1,0,1,0,...,0,4,3,4,1,1,1,4,15,16
646,0,1,1,0,18,0,1,1,0,0,...,0,1,1,1,1,1,5,6,11,9
647,0,1,0,1,17,0,1,0,1,0,...,0,2,4,5,3,4,2,6,10,10
648,0,1,0,1,18,1,0,0,1,0,...,0,4,4,1,3,4,5,4,10,11

In [106]:
Y4=stu["G2"]
Y4

0      11
1      11
2      13
3      14
4      13
       ..
644    11
645    15
646    12
647    10
648    11
Name: G2, Length: 649, dtype: int64

In [107]:
# Let's say we want to split the data in 80:10:10 for train:valid:test dataset
train_size=0.8


# In the first step we will split the data in training and remaining dataset
x_train4, x_test4, y_train4, y_test4 = train_test_split(X4,Y4, train_size=0.8)

### Training Phase

#### 1. Linear regression

In [108]:
# create linear regression object
l_reg_stu = linear_model.LinearRegression()
 
# train the model using the training sets
l_reg_stu.fit(x_train4, y_train4)

LinearRegression()

#### 2. Support vector regression

In [109]:
svr_rbf_stu  = SVR(kernel="rbf", C=100,max_iter=10000, gamma=0.1, epsilon=0.1)
svr_rbf_stu.fit(x_train4, y_train4)

SVR(C=100, gamma=0.1, max_iter=10000)

#### 3. Decision tree regression

In [110]:
dr_regr_stu = DecisionTreeRegressor(max_depth=100, random_state=0)
dr_regr_stu.fit(x_train4, y_train4)

DecisionTreeRegressor(max_depth=100, random_state=0)

#### 4. Random forest regression

In [111]:
r_f_stu= RandomForestRegressor(random_state=0)
r_f_stu.fit(x_train4, y_train4)

RandomForestRegressor(random_state=0)

#### 5. k-nearest neighbours regression

In [112]:
kn_stu = KNeighborsRegressor(n_neighbors=8)
# n_neighbors=8

kn_stu.fit(x_train4,y_train4)

KNeighborsRegressor(n_neighbors=8)

#### 6. AdaBoost regression

In [113]:
ada_stu  = AdaBoostRegressor(random_state=0, n_estimators=100)
ada_stu.fit(x_train4,y_train4)

AdaBoostRegressor(n_estimators=100, random_state=0)

#### 7. Gaussian process regression

In [114]:
gpr_stu  = gp.GaussianProcessRegressor(n_restarts_optimizer=10, alpha=0.1, normalize_y=True, random_state=0)
gpr_stu.fit(x_train4, y_train4)

GaussianProcessRegressor(alpha=0.1, n_restarts_optimizer=10, normalize_y=True,
                         random_state=0)

#### 8. Neural network regression

In [115]:
NN_model4 = Sequential()

# The Input Layer :
NN_model4.add(Dense(128, kernel_initializer='normal',input_dim = x_train4.shape[1], activation='relu'))

# The Hidden Layers :
NN_model4.add(Dense(256, kernel_initializer='normal',activation='relu'))
NN_model4.add(Dense(256, kernel_initializer='normal',activation='relu'))
NN_model4.add(Dense(256, kernel_initializer='normal',activation='relu'))

# The Output Layer :
NN_model4.add(Dense(1, kernel_initializer='normal',activation='linear'))

# Compile the network :
NN_model4.compile(loss='mean_absolute_error', optimizer='adam', metrics=['mean_absolute_error'])
NN_model4.summary()
NN_model4.fit(x_train4, y_train4, epochs=20, batch_size=32, validation_split = 0.2)

Model: "sequential_5"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_25 (Dense)            (None, 128)               7552

 dense_26 (Dense)            (None, 256)               33024

 dense_27 (Dense)            (None, 256)               65792

 dense_28 (Dense)            (None, 256)               65792

 dense_29 (Dense)            (None, 1)                 257

=================================================================
Total params: 172,417
Trainable params: 172,417
Non-trainable params: 0
_________________________________________________________________
Epoch 1/20
13/13 [==============================] - 0s 8ms/step - loss: 7.2582 - mean_absolute_error: 7.2582 - val_loss: 2.7810 - val_mean_absolute_error: 2.7810
Epoch 2/20
13/13 [==============================] - 0s 3ms/step - loss: 2.2784 - mean_absolute_error: 2.2784 - val_loss: 1.8085 - val_mean_absolute_error: 1.8085
Epoch 3/20
13/13 [==============================] - 0s 4ms/step - loss: 1.4892 - mean_absolute_error: 1.4892 - val_loss: 1.0888 - val_mean_absolute_error: 1.0888
Epoch 4/20
13/13 [==============================] - 0s 4ms/step - loss: 1.0490 - mean_absolute_error: 1.0490 - val_loss: 1.0038 - val_mean_absolute_error: 1.0038
Epoch 5/20
13/13 [==============================] - 0s 4ms/step - loss: 0.8372 - mean_absolute_error: 0.8372 - val_loss: 0.8569 - val_mean_absolute_error: 0.8569
Epoch 6/20
13/13 [==============================] - 0s 3ms/step - loss: 0.7885 - mean_absolute_error: 0.7885 - val_loss: 0.7838 - val_mean_absolute_error: 0.7838
Epoch 7/20
13/13 [==============================] - 0s 4ms/step - loss: 0.7369 - mean_absolute_error: 0.7369 - val_loss: 0.7516 - val_mean_absolute_error: 0.7516
Epoch 8/20
13/13 [==============================] - 0s 3ms/step - loss: 0.7165 - mean_absolute_error: 0.7165 - val_loss: 0.7489 - val_mean_absolute_error: 0.7489
Epoch 9/20
13/13 [==============================] - 0s 4ms/step - loss: 0.7488 - mean_absolute_error: 0.7488 - val_loss: 0.7327 - val_mean_absolute_error: 0.7327
Epoch 10/20
13/13 [==============================] - 0s 3ms/step - loss: 0.7035 - mean_absolute_error: 0.7035 - val_loss: 0.7524 - val_mean_absolute_error: 0.7524
Epoch 11/20
13/13 [==============================] - 0s 4ms/step - loss: 0.6989 - mean_absolute_error: 0.6989 - val_loss: 0.7184 - val_mean_absolute_error: 0.7184
Epoch 12/20
13/13 [==============================] - 0s 4ms/step - loss: 0.6896 - mean_absolute_error: 0.6896 - val_loss: 0.7327 - val_mean_absolute_error: 0.7327
Epoch 13/20
13/13 [==============================] - 0s 4ms/step - loss: 0.6835 - mean_absolute_error: 0.6835 - val_loss: 0.8291 - val_mean_absolute_error: 0.8291
Epoch 14/20
13/13 [==============================] - 0s 4ms/step - loss: 0.8344 - mean_absolute_error: 0.8344 - val_loss: 1.0905 - val_mean_absolute_error: 1.0905
Epoch 15/20
13/13 [==============================] - 0s 3ms/step - loss: 0.8814 - mean_absolute_error: 0.8814 - val_loss: 0.9782 - val_mean_absolute_error: 0.9782
Epoch 16/20
13/13 [==============================] - 0s 3ms/step - loss: 0.7787 - mean_absolute_error: 0.7787 - val_loss: 0.7178 - val_mean_absolute_error: 0.7178
Epoch 17/20
13/13 [==============================] - 0s 4ms/step - loss: 0.7059 - mean_absolute_error: 0.7059 - val_loss: 0.7804 - val_mean_absolute_error: 0.7804
Epoch 18/20
13/13 [==============================] - 0s 4ms/step - loss: 0.7083 - mean_absolute_error: 0.7083 - val_loss: 0.7312 - val_mean_absolute_error: 0.7312
Epoch 19/20
13/13 [==============================] - 0s 4ms/step - loss: 0.6899 - mean_absolute_error: 0.6899 - val_loss: 0.7610 - val_mean_absolute_error: 0.7610
Epoch 20/20
13/13 [==============================] - 0s 4ms/step - loss: 0.6895 - mean_absolute_error: 0.6895 - val_loss: 0.9389 - val_mean_absolute_error: 0.9389

### Testing Phase

#### 1. Linear regression

In [116]:
# l_reg_stu.score(x_train4, y_train4)
output = l_reg_stu.predict(x_test4)
print('MSE: {}'.format(mean_squared_error(y_test4, output)))
print(f'R2: {r2_score(y_test4, output)}')

MSE: 1.7089040096581276
R2: 0.8095407570549055

#### 2. Support vector regression

In [117]:
# svr_rbf_stu.score(x_train4, y_train4)
output = svr_rbf_stu.predict(x_test4)
print('MSE: {}'.format(mean_squared_error(y_test4, output)))
print(f'R2: {r2_score(y_test4, output)}')

MSE: 4.031380801176884
R2: 0.5506981485934122

#### 3. Decision tree regression

In [118]:
# dr_regr_stu.score(x_train4, y_train4)
output = dr_regr_stu.predict(x_test4)
print('MSE: {}'.format(mean_squared_error(y_test4, output)))
print(f'R2: {r2_score(y_test4, output)}')

MSE: 2.076923076923077
R2: 0.768524624759292

#### 4. Random forest regression

In [119]:
# r_f_stu.score(x_train4, y_train4)
output = r_f_stu.predict(x_test4)
print('MSE: {}'.format(mean_squared_error(y_test4, output)))
print(f'R2: {r2_score(y_test4, output)}')

MSE: 1.5914315384615385
R2: 0.822633193964494

#### 5. k-nearest neighbours regression

In [120]:
# kn_stu.score(x_train4, y_train4)
output = kn_stu.predict(x_test4)
print('MSE: {}'.format(mean_squared_error(y_test4, output)))
print(f'R2: {r2_score(y_test4, output)}')

MSE: 1.5837740384615384
R2: 0.8234866308132633

#### 6. AdaBoost regression

In [121]:
# ada_stu.score(x_train4, y_train4)
output = ada_stu.predict(x_test4)
print('MSE: {}'.format(mean_squared_error(y_test4, output)))
print(f'R2: {r2_score(y_test4, output)}')

MSE: 1.84546170494011
R2: 0.794321250801341

#### 7. Gaussian process regression

In [122]:
# gpr_stu.score(x_train4, y_train4)
output = gpr_stu.predict(x_test4)
print('MSE: {}'.format(mean_squared_error(y_test4, output)))
print(f'R2: {r2_score(y_test4, output)}')

MSE: 8.961006253974288
R2: 0.0012859367685412737

#### 8. Neural network regression

In [123]:
# predictions = NN_model4.predict(x_test4)
# predictions
output = NN_model4.predict(x_test4)
print('MSE: {}'.format(mean_squared_error(y_test4, output.flatten())))
print(f'R2: {r2_score(y_test4, output)}')

MSE: 2.073651538299123
R2: 0.7688892413592077

## Dataset 7: Concrete Compressive Strength

### Import Required Libraries

In [124]:
#importing data
con=pd.read_excel('datasets/Concrete_Data.xls')

### Data analysis and visualization

In [125]:
con

,Cement (component 1)(kg in a m^3 mixture),Blast Furnace Slag (component 2)(kg in a m^3 mixture),Fly Ash (component 3)(kg in a m^3 mixture),Water (component 4)(kg in a m^3 mixture),Superplasticizer (component 5)(kg in a m^3 mixture),Coarse Aggregate (component 6)(kg in a m^3 mixture),Fine Aggregate (component 7)(kg in a m^3 mixture),Age (day),"Concrete compressive strength(MPa, megapascals)"
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.986111
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.887366
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.269535
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.052780
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.296075
...,...,...,...,...,...,...,...,...,...
1025,276.4,116.0,90.3,179.6,8.9,870.1,768.3,28,44.284354
1026,322.2,0.0,115.6,196.0,10.4,817.9,813.4,28,31.178794
1027,148.5,139.4,108.6,192.7,6.1,892.4,780.0,28,23.696601
1028,159.1,186.7,0.0,175.6,11.3,989.6,788.9,28,32.768036
1029,260.9,100.5,78.3,200.6,8.6,864.5,761.5,28,32.401235

### Data Splitting into Training and Testing

In [126]:
X5=con.drop(['Concrete compressive strength(MPa, megapascals) '],axis=1)
X5

,Cement (component 1)(kg in a m^3 mixture),Blast Furnace Slag (component 2)(kg in a m^3 mixture),Fly Ash (component 3)(kg in a m^3 mixture),Water (component 4)(kg in a m^3 mixture),Superplasticizer (component 5)(kg in a m^3 mixture),Coarse Aggregate (component 6)(kg in a m^3 mixture),Fine Aggregate (component 7)(kg in a m^3 mixture),Age (day)
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360
...,...,...,...,...,...,...,...,...
1025,276.4,116.0,90.3,179.6,8.9,870.1,768.3,28
1026,322.2,0.0,115.6,196.0,10.4,817.9,813.4,28
1027,148.5,139.4,108.6,192.7,6.1,892.4,780.0,28
1028,159.1,186.7,0.0,175.6,11.3,989.6,788.9,28
1029,260.9,100.5,78.3,200.6,8.6,864.5,761.5,28

In [127]:
Y5=con['Concrete compressive strength(MPa, megapascals) ']
Y5

0       79.986111
1       61.887366
2       40.269535
3       41.052780
4       44.296075
          ...
1025    44.284354
1026    31.178794
1027    23.696601
1028    32.768036
1029    32.401235
Name: Concrete compressive strength(MPa, megapascals) , Length: 1030, dtype: float64

In [128]:

# Let's say we want to split the data in 80:10:10 for train:valid:test dataset
train_size=0.8


# In the first step we will split the data in training and remaining dataset
x_train5, x_test5, y_train5, y_test5 = train_test_split(X5,Y5, train_size=0.8)

### Training Phase

#### 1. Linear regression

In [129]:
# create linear regression object
l_reg_con = linear_model.LinearRegression()
 
# train the model using the training sets
l_reg_con.fit(x_train5, y_train5)

LinearRegression()

#### 2. Support vector regression

In [130]:
svr_rbf_con  = SVR(kernel="rbf", C=100,max_iter=10000, gamma=0.1, epsilon=0.1)
svr_rbf_con.fit(x_train5, y_train5)

SVR(C=100, gamma=0.1, max_iter=10000)

#### 3. Decision tree regression

In [131]:
dr_regr_con = DecisionTreeRegressor(max_depth=100, random_state=0)
dr_regr_con.fit(x_train5, y_train5)

DecisionTreeRegressor(max_depth=100, random_state=0)

#### 4. Random forest regression

In [132]:
r_f_con= RandomForestRegressor(random_state=0)
r_f_con.fit(x_train5, y_train5)

RandomForestRegressor(random_state=0)

#### 5. k-nearest neighbours regression

In [133]:
kn_con = KNeighborsRegressor(n_neighbors=8)
# n_neighbors=8

kn_con.fit(x_train5,y_train5)

KNeighborsRegressor(n_neighbors=8)

#### 6. AdaBoost regression

In [134]:
ada_con  = AdaBoostRegressor(random_state=0, n_estimators=100)
ada_con.fit(x_train5,y_train5)

AdaBoostRegressor(n_estimators=100, random_state=0)

#### 7. Gaussian process regression

In [135]:
gpr_con  = gp.GaussianProcessRegressor(n_restarts_optimizer=10, alpha=0.1, normalize_y=True, random_state=0)
gpr_con.fit(x_train5, y_train5)

GaussianProcessRegressor(alpha=0.1, n_restarts_optimizer=10, normalize_y=True,
                         random_state=0)

#### 8. Neural network regression

In [136]:
NN_model5 = Sequential()

# The Input Layer :
NN_model5.add(Dense(128, kernel_initializer='normal',input_dim = x_train5.shape[1], activation='relu'))

# The Hidden Layers :
NN_model5.add(Dense(256, kernel_initializer='normal',activation='relu'))
NN_model5.add(Dense(256, kernel_initializer='normal',activation='relu'))
NN_model5.add(Dense(256, kernel_initializer='normal',activation='relu'))

# The Output Layer :
NN_model5.add(Dense(1, kernel_initializer='normal',activation='linear'))

# Compile the network :
NN_model5.compile(loss='mean_absolute_error', optimizer='adam', metrics=['mean_absolute_error'])
NN_model5.summary()
NN_model5.fit(x_train5, y_train5, epochs=20, batch_size=32, validation_split = 0.2)

Model: "sequential_6"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_30 (Dense)            (None, 128)               1152

 dense_31 (Dense)            (None, 256)               33024

 dense_32 (Dense)            (None, 256)               65792

 dense_33 (Dense)            (None, 256)               65792

 dense_34 (Dense)            (None, 1)                 257

=================================================================
Total params: 166,017
Trainable params: 166,017
Non-trainable params: 0
_________________________________________________________________
Epoch 1/20
21/21 [==============================] - 0s 6ms/step - loss: 16.1052 - mean_absolute_error: 16.1052 - val_loss: 11.5762 - val_mean_absolute_error: 11.5762
Epoch 2/20
21/21 [==============================] - 0s 3ms/step - loss: 10.9642 - mean_absolute_error: 10.9642 - val_loss: 9.7025 - val_mean_absolute_error: 9.7025
Epoch 3/20
21/21 [==============================] - 0s 3ms/step - loss: 10.0205 - mean_absolute_error: 10.0205 - val_loss: 8.7820 - val_mean_absolute_error: 8.7820
Epoch 4/20
21/21 [==============================] - 0s 3ms/step - loss: 8.4184 - mean_absolute_error: 8.4184 - val_loss: 7.2323 - val_mean_absolute_error: 7.2323
Epoch 5/20
21/21 [==============================] - 0s 4ms/step - loss: 8.2741 - mean_absolute_error: 8.2741 - val_loss: 7.2174 - val_mean_absolute_error: 7.2174
Epoch 6/20
21/21 [==============================] - 0s 4ms/step - loss: 7.6580 - mean_absolute_error: 7.6580 - val_loss: 6.5800 - val_mean_absolute_error: 6.5800
Epoch 7/20
21/21 [==============================] - 0s 4ms/step - loss: 7.3286 - mean_absolute_error: 7.3286 - val_loss: 8.7661 - val_mean_absolute_error: 8.7661
Epoch 8/20
21/21 [==============================] - 0s 2ms/step - loss: 7.3514 - mean_absolute_error: 7.3514 - val_loss: 6.2465 - val_mean_absolute_error: 6.2465
Epoch 9/20
21/21 [==============================] - 0s 3ms/step - loss: 7.1717 - mean_absolute_error: 7.1717 - val_loss: 6.2505 - val_mean_absolute_error: 6.2505
Epoch 10/20
21/21 [==============================] - 0s 3ms/step - loss: 6.6923 - mean_absolute_error: 6.6923 - val_loss: 5.6193 - val_mean_absolute_error: 5.6193
Epoch 11/20
21/21 [==============================] - 0s 3ms/step - loss: 6.4430 - mean_absolute_error: 6.4430 - val_loss: 5.6664 - val_mean_absolute_error: 5.6664
Epoch 12/20
21/21 [==============================] - 0s 3ms/step - loss: 6.4454 - mean_absolute_error: 6.4454 - val_loss: 5.6455 - val_mean_absolute_error: 5.6455
Epoch 13/20
21/21 [==============================] - 0s 3ms/step - loss: 6.3178 - mean_absolute_error: 6.3178 - val_loss: 5.2799 - val_mean_absolute_error: 5.2799
Epoch 14/20
21/21 [==============================] - 0s 2ms/step - loss: 6.7949 - mean_absolute_error: 6.7949 - val_loss: 5.2605 - val_mean_absolute_error: 5.2605
Epoch 15/20
21/21 [==============================] - 0s 3ms/step - loss: 6.5094 - mean_absolute_error: 6.5094 - val_loss: 5.9139 - val_mean_absolute_error: 5.9139
Epoch 16/20
21/21 [==============================] - 0s 3ms/step - loss: 7.0100 - mean_absolute_error: 7.0100 - val_loss: 6.4380 - val_mean_absolute_error: 6.4380
Epoch 17/20
21/21 [==============================] - 0s 3ms/step - loss: 5.7528 - mean_absolute_error: 5.7528 - val_loss: 5.3269 - val_mean_absolute_error: 5.3269
Epoch 18/20
21/21 [==============================] - 0s 3ms/step - loss: 5.6600 - mean_absolute_error: 5.6600 - val_loss: 5.6800 - val_mean_absolute_error: 5.6800
Epoch 19/20
21/21 [==============================] - 0s 2ms/step - loss: 6.4272 - mean_absolute_error: 6.4272 - val_loss: 5.8888 - val_mean_absolute_error: 5.8888
Epoch 20/20
21/21 [==============================] - 0s 3ms/step - loss: 6.1396 - mean_absolute_error: 6.1396 - val_loss: 5.8715 - val_mean_absolute_error: 5.8715

### Testing Phase

#### 1. Linear regression

In [137]:
output = l_reg_con.predict(x_test5)
print('MSE: {}'.format(mean_squared_error(y_test5, output)))
print(f'R2: {r2_score(y_test5, output)}')

MSE: 102.53727023099904
R2: 0.5535428894989083

#### 2. Support vector regression

In [138]:
output = svr_rbf_con.predict(x_test5)
print('MSE: {}'.format(mean_squared_error(y_test5, output)))
print(f'R2: {r2_score(y_test5, output)}')

MSE: 168.55781987573704
R2: 0.2660830833066753

#### 3. Decision tree regression

In [139]:
output = dr_regr_con.predict(x_test5)
print('MSE: {}'.format(mean_squared_error(y_test5, output)))
print(f'R2: {r2_score(y_test5, output)}')

MSE: 36.944090350238916
R2: 0.8391418867432217

#### 4. Random forest regression

In [140]:
output = r_f_con.predict(x_test5)
print('MSE: {}'.format(mean_squared_error(y_test5, output)))
print(f'R2: {r2_score(y_test5, output)}')

MSE: 16.585909627708478
R2: 0.9277833584730997

#### 5. k-nearest neighbours regression

In [141]:
output = kn_con.predict(x_test5)
print('MSE: {}'.format(mean_squared_error(y_test5, output)))
print(f'R2: {r2_score(y_test5, output)}')

MSE: 83.10034604045161
R2: 0.6381731219167508

#### 6. AdaBoost regression

In [142]:
output = ada_con.predict(x_test5)
print('MSE: {}'.format(mean_squared_error(y_test5, output)))
print(f'R2: {r2_score(y_test5, output)}')

MSE: 52.3542938552905
R2: 0.7720443824542965

#### 7. Gaussian process regression

In [143]:
output = gpr_con.predict(x_test5)
print('MSE: {}'.format(mean_squared_error(y_test5, output)))
print(f'R2: {r2_score(y_test5, output)}')

MSE: 193.33371686286029
R2: 0.1582064511901351

#### 8. Neural network regression

In [144]:

output = NN_model5.predict(x_test5)
print('MSE: {}'.format(mean_squared_error(y_test5, output.flatten())))
print(f'R2: {r2_score(y_test5, output)}')

MSE: 54.06825118336087
R2: 0.7645816478360589

## Dataset 8: SGEMM GPU kernel performance

### Import Required Libraries

In [145]:
sge=pd.read_csv('datasets/sgemm_product.csv')

### Data analysis and visualization

In [146]:
sge=sge.iloc[-10000:]

In [147]:
X6=sge.drop('Run4 (ms)',axis=1)
X6

,MWG,NWG,KWG,MDIMC,NDIMC,MDIMA,NDIMB,KWI,VWM,VWN,STRM,STRN,SA,SB,Run1 (ms),Run2 (ms),Run3 (ms)
231600,128,128,32,16,16,8,8,2,1,2,0,0,0,0,276.01,278.68,278.95
231601,128,128,32,16,16,8,8,2,1,2,0,0,0,1,200.92,202.71,203.07
231602,128,128,32,16,16,8,8,2,1,2,0,0,1,0,179.35,176.94,176.29
231603,128,128,32,16,16,8,8,2,1,2,0,0,1,1,189.54,189.66,189.64
231604,128,128,32,16,16,8,8,2,1,2,0,1,0,0,289.42,291.90,291.96
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241595,128,128,32,32,32,32,32,8,4,4,1,0,1,1,17.96,17.77,17.77
241596,128,128,32,32,32,32,32,8,4,4,1,1,0,0,36.04,36.03,36.04
241597,128,128,32,32,32,32,32,8,4,4,1,1,0,1,35.28,34.82,35.27
241598,128,128,32,32,32,32,32,8,4,4,1,1,1,0,28.43,28.49,28.44
241599,128,128,32,32,32,32,32,8,4,4,1,1,1,1,17.94,17.79,17.77

In [148]:
Y6=sge['Run4 (ms)']
Y6

231600    279.37
231601    204.25
231602    175.75
231603    189.67
231604    292.51
           ...
241595     17.77
241596     36.03
241597     35.27
241598     28.45
241599     17.77
Name: Run4 (ms), Length: 10000, dtype: float64

### Data Splitting into Training and Testing

In [149]:
# Let's say we want to split the data in 80:10:10 for train:valid:test dataset
train_size=0.8


# In the first step we will split the data in training and remaining dataset
x_train6, x_test6, y_train6, y_test6 = train_test_split(X6,Y6, train_size=0.8)

### Training Phase

#### 1. Linear regression

In [150]:
# create linear regression object
l_reg_sge = linear_model.LinearRegression()
 
# train the model using the training sets
l_reg_sge.fit(x_train6, y_train6)

LinearRegression()

#### 2. Support vector regression

In [151]:
svr_rbf_sge  = SVR(kernel="rbf", C=100,max_iter=100, gamma=0.1, epsilon=0.1)
svr_rbf_sge.fit(x_train6, y_train6)

/home/a/.local/lib/python3.8/site-packages/sklearn/svm/_base.py:255: ConvergenceWarning: Solver terminated early (max_iter=100).  Consider pre-processing your data with StandardScaler or MinMaxScaler.
  warnings.warn('Solver terminated early (max_iter=%i).'

SVR(C=100, gamma=0.1, max_iter=100)

#### 3. Decision tree regression

In [152]:
dr_regr_sge = DecisionTreeRegressor(max_depth=100, random_state=0)
dr_regr_sge.fit(x_train6, y_train6)

DecisionTreeRegressor(max_depth=100, random_state=0)

#### 4. Random forest regression

In [153]:
r_f_sge= RandomForestRegressor(random_state=0)
r_f_sge.fit(x_train6, y_train6)

RandomForestRegressor(random_state=0)

#### 5. k-nearest neighbours regression

In [154]:
kn_sge = KNeighborsRegressor(n_neighbors=8)
# n_neighbors=8

kn_sge.fit(x_train6,y_train6)

KNeighborsRegressor(n_neighbors=8)

#### 6. AdaBoost regression

In [155]:
ada_sge  = AdaBoostRegressor(random_state=0, n_estimators=100)
ada_sge.fit(x_train6,y_train6)

AdaBoostRegressor(n_estimators=100, random_state=0)

#### 7. Gaussian process regression

In [156]:
gpr_sge  = gp.GaussianProcessRegressor(n_restarts_optimizer=10, alpha=0.1, normalize_y=True, random_state=0)
gpr_sge.fit(x_train6, y_train6)

GaussianProcessRegressor(alpha=0.1, n_restarts_optimizer=10, normalize_y=True,
                         random_state=0)

#### 8. Neural network regression

In [157]:
NN_model6 = Sequential()

# The Input Layer :
NN_model6.add(Dense(128, kernel_initializer='normal',input_dim = x_train6.shape[1], activation='relu'))

# The Hidden Layers :
NN_model6.add(Dense(256, kernel_initializer='normal',activation='relu'))
NN_model6.add(Dense(256, kernel_initializer='normal',activation='relu'))
NN_model6.add(Dense(256, kernel_initializer='normal',activation='relu'))

# The Output Layer :
NN_model6.add(Dense(1, kernel_initializer='normal',activation='linear'))

# Compile the network :
NN_model6.compile(loss='mean_absolute_error', optimizer='adam', metrics=['mean_absolute_error'])
NN_model6.summary()
NN_model6.fit(x_train6, y_train6, epochs=20, batch_size=32, validation_split = 0.2)

Model: "sequential_7"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_35 (Dense)            (None, 128)               2304

 dense_36 (Dense)            (None, 256)               33024

 dense_37 (Dense)            (None, 256)               65792

 dense_38 (Dense)            (None, 256)               65792

 dense_39 (Dense)            (None, 1)                 257

=================================================================
Total params: 167,169
Trainable params: 167,169
Non-trainable params: 0
_________________________________________________________________
Epoch 1/20
200/200 [==============================] - 1s 2ms/step - loss: 12.3618 - mean_absolute_error: 12.3618 - val_loss: 2.5285 - val_mean_absolute_error: 2.5285
Epoch 2/20
200/200 [==============================] - 0s 2ms/step - loss: 2.7477 - mean_absolute_error: 2.7477 - val_loss: 1.3485 - val_mean_absolute_error: 1.3485
Epoch 3/20
200/200 [==============================] - 0s 2ms/step - loss: 4.6644 - mean_absolute_error: 4.6644 - val_loss: 1.5393 - val_mean_absolute_error: 1.5393
Epoch 4/20
200/200 [==============================] - 0s 2ms/step - loss: 2.1996 - mean_absolute_error: 2.1996 - val_loss: 0.9927 - val_mean_absolute_error: 0.9927
Epoch 5/20
200/200 [==============================] - 0s 2ms/step - loss: 3.0323 - mean_absolute_error: 3.0323 - val_loss: 2.4738 - val_mean_absolute_error: 2.4738
Epoch 6/20
200/200 [==============================] - 0s 2ms/step - loss: 2.9878 - mean_absolute_error: 2.9878 - val_loss: 2.4820 - val_mean_absolute_error: 2.4820
Epoch 7/20
200/200 [==============================] - 0s 2ms/step - loss: 2.7748 - mean_absolute_error: 2.7748 - val_loss: 1.5560 - val_mean_absolute_error: 1.5560
Epoch 8/20
200/200 [==============================] - 0s 2ms/step - loss: 3.3320 - mean_absolute_error: 3.3320 - val_loss: 0.7237 - val_mean_absolute_error: 0.7237
Epoch 9/20
200/200 [==============================] - 0s 2ms/step - loss: 1.9790 - mean_absolute_error: 1.9790 - val_loss: 0.9809 - val_mean_absolute_error: 0.9809
Epoch 10/20
200/200 [==============================] - 0s 2ms/step - loss: 3.1193 - mean_absolute_error: 3.1193 - val_loss: 3.7272 - val_mean_absolute_error: 3.7272
Epoch 11/20
200/200 [==============================] - 0s 2ms/step - loss: 2.9350 - mean_absolute_error: 2.9350 - val_loss: 4.3228 - val_mean_absolute_error: 4.3228
Epoch 12/20
200/200 [==============================] - 0s 2ms/step - loss: 2.9275 - mean_absolute_error: 2.9275 - val_loss: 1.3285 - val_mean_absolute_error: 1.3285
Epoch 13/20
200/200 [==============================] - 0s 2ms/step - loss: 1.9764 - mean_absolute_error: 1.9764 - val_loss: 2.0865 - val_mean_absolute_error: 2.0865
Epoch 14/20
200/200 [==============================] - 0s 2ms/step - loss: 1.6885 - mean_absolute_error: 1.6885 - val_loss: 1.9883 - val_mean_absolute_error: 1.9883
Epoch 15/20
200/200 [==============================] - 0s 2ms/step - loss: 1.7738 - mean_absolute_error: 1.7738 - val_loss: 1.7134 - val_mean_absolute_error: 1.7134
Epoch 16/20
200/200 [==============================] - 0s 2ms/step - loss: 1.4924 - mean_absolute_error: 1.4924 - val_loss: 3.0799 - val_mean_absolute_error: 3.0799
Epoch 17/20
200/200 [==============================] - 0s 2ms/step - loss: 2.2096 - mean_absolute_error: 2.2096 - val_loss: 0.9784 - val_mean_absolute_error: 0.9784
Epoch 18/20
200/200 [==============================] - 0s 2ms/step - loss: 1.5165 - mean_absolute_error: 1.5165 - val_loss: 0.7549 - val_mean_absolute_error: 0.7549
Epoch 19/20
200/200 [==============================] - 0s 2ms/step - loss: 1.7820 - mean_absolute_error: 1.7820 - val_loss: 0.7474 - val_mean_absolute_error: 0.7474
Epoch 20/20
200/200 [==============================] - 0s 2ms/step - loss: 2.2043 - mean_absolute_error: 2.2043 - val_loss: 4.2077 - val_mean_absolute_error: 4.2077

### Testing Phase

#### 1. Linear regression

In [158]:
output = l_reg_sge.predict(x_test6)
print('MSE: {}'.format(mean_squared_error(y_test6, output)))
print(f'R2: {r2_score(y_test6, output)}')

MSE: 0.3524163193272245
R2: 0.9999593336076236

#### 2. Support vector regression

In [159]:
output = svr_rbf_sge.predict(x_test6)
print('MSE: {}'.format(mean_squared_error(y_test6, output)))
print(f'R2: {r2_score(y_test6, output)}')

MSE: 7302.432841610674
R2: 0.15735003473540055

#### 3. Decision tree regression

In [160]:
output = dr_regr_sge.predict(x_test6)
print('MSE: {}'.format(mean_squared_error(y_test6, output)))
print(f'R2: {r2_score(y_test6, output)}')

MSE: 0.7265603500000006
R2: 0.9999161599884628

#### 4. Random forest regression

In [161]:
output = r_f_sge.predict(x_test6)
print('MSE: {}'.format(mean_squared_error(y_test6, output)))
print(f'R2: {r2_score(y_test6, output)}')

MSE: 0.4181442268049996
R2: 0.9999517490642044

#### 5. k-nearest neighbours regression

In [162]:
output = kn_sge.predict(x_test6)
print('MSE: {}'.format(mean_squared_error(y_test6, output)))
print(f'R2: {r2_score(y_test6, output)}')

MSE: 1.3300306968750009
R2: 0.9998465237072587

#### 6. AdaBoost regression

In [163]:
output = ada_sge.predict(x_test6)
print('MSE: {}'.format(mean_squared_error(y_test6, output)))
print(f'R2: {r2_score(y_test6, output)}')

MSE: 33.76193473220228
R2: 0.9961041075287614

#### 7. Gaussian process regression

In [164]:
output = gpr_sge.predict(x_test6)
print('MSE: {}'.format(mean_squared_error(y_test6, output)))
print(f'R2: {r2_score(y_test6, output)}')

MSE: 4647.231272482056
R2: 0.4637418302542269

#### 8. Neural network regression

In [165]:
output = NN_model6.predict(x_test6)
print('MSE: {}'.format(mean_squared_error(y_test6, output.flatten())))
print(f'R2: {r2_score(y_test6, output)}')

MSE: 23.08005935866221
R2: 0.9973367216599295